[Unit]
Description=MinerHome  minerproxy  service
After=network-online.target
Wants=network-online.target

[Service]
Type=forking

WorkingDirectory=/root/mh_proxy
ExecStart=/root/mh_proxy/mh_proxy.sh


KillMode=mixed
TimeoutStartSec=0


User=root
Group=root



[Install]
WantedBy=multi-user.target





