[Unit]
Description=MinerHome  mhminer  service
After=network-online.target
Wants=network-online.target

[Service]
Type=forking

WorkingDirectory=/root/mhminer
ExecStart=/root/mhminer/mhminer.sh


KillMode=mixed
TimeoutStartSec=0


User=root
Group=root



[Install]
WantedBy=multi-user.target





